@import "./transition";
@import "./element-plus";
@import "./sidebar";
@import "./dark";

/* 自定义全局 CssVar */
:root {
  /* 左侧菜单展开、收起动画时长 */
  --pure-transition-duration: 0.3s;
}

/* 灰色模式 */
.html-grey {
  filter: grayscale(100%);
}

/* 色弱模式 */
.html-weakness {
  filter: invert(80%);
}

.form-title-line {
  font-size: 18px;
  font-weight: bold;
  text-align: left;

  &::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 20px;
    margin-right: 10px;
    line-height: 20px;
    background: #7e7e7e;
    vertical-align: middle;

  }
}
